<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-6">

            </div>
            <div class="col-lg-8 col-md-8 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-header card-header-tabs card-header-primary">
                            <h4>
                                Jar Assistant Search
                            </h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="navbar-form">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                                <button mat-raised-button type="submit"
                                        class="btn btn-white btn-round btn-just-icon ml-1" (click)="startRecord()"
                                        data-toggle="modal" data-target="#speech">
                                    <i class="material-icons">mic</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon" data-toggle="modal"
                         data-target="#Newsspeech">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Latest News Update</p>
                        <h3 class="card-title">Jar News
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon" data-toggle="modal"
                         data-target="#Notespeech">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Keep Your Notes</p>
                        <h3 class="card-title">Note Book</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon" data-toggle="modal"
                         data-target="#Musicspeech">
                        <div class="card-icon">
                            <i class="material-icons">music_note</i>
                        </div>
                        <p class="card-category">Want More Music</p>
                        <h3 class="card-title">Jar Music</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon" data-toggle="modal"
                         data-target="#Trafficspeech">
                        <div class="card-icon">
                            <i class="material-icons">traffic</i>
                        </div>
                        <p class="card-category">Latest Traffic Updates</p>
                        <h3 class="card-title">Traffic Maps</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Tasks:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                            <i class="material-icons">bug_report</i> News
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                            <i class="material-icons">code</i> Weather
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                            <i class="material-icons">cloud</i> Music
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="" checked>
                                                    <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Sign contract for "What are conference organizers afraid of?"</td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="">
                                                    <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="">
                                                    <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Flooded: One year later, assessing what was lost and what was found when a
                                            ravaging rain swept through metro Detroit
                                        </td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="" checked>
                                                    <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="messages">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="" checked>
                                                    <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Flooded: One year later, assessing what was lost and what was found when a
                                            ravaging rain swept through metro Detroit
                                        </td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="">
                                                    <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Sign contract for "What are conference organizers afraid of?"</td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="settings">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="">
                                                    <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="" checked>
                                                    <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Flooded: One year later, assessing what was lost and what was found when a
                                            ravaging rain swept through metro Detroit
                                        </td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="" checked>
                                                    <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Sign contract for "What are conference organizers afraid of?"</td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-angular fade" id="speech" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div>
                    <div class="example-button-container">
                        <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
                                (click)="stopRecord()">
                            <i class="material-icons">mic</i>
                        </button>
                    </div>
                </div>
                <span>Recording........</span>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-angular fade" id="Newsspeech" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div>
                    <div class="example-button-container">
                        <button mat-fab color="warning" aria-label="Example icon button with a delete icon">
                            <i class="material-icons">mic</i>
                        </button>
                    </div>
                </div>
                <span>Recording........</span>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-angular fade" id="Notespeech" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div>
                    <div class="example-button-container">
                        <button mat-fab color="success" aria-label="Example icon button with a delete icon">
                            <i class="material-icons">mic</i>
                        </button>
                    </div>
                </div>
                <span>Recording........</span>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-angular fade" id="Musicspeech" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div>
                    <div class="example-button-container">
                        <button mat-fab color="danger" aria-label="Example icon button with a delete icon">
                            <i class="material-icons">mic</i>
                        </button>
                    </div>
                </div>
                <span>Recording........</span>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-angular fade" id="Trafficspeech" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div>
                    <div class="example-button-container">
                        <button mat-fab color="info" aria-label="Example icon button with a delete icon">
                            <i class="material-icons">mic</i>
                        </button>
                    </div>
                </div>
                <span>Recording........</span>
            </div>
        </div>
    </div>
</div>
